<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Upload MRI Scan</title>
</head>
<body>
    <h1>Upload MRI Scan</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".nii,.nii.gz" required>
        <button type="submit">Upload .nii/.nii.gz</button>
    </form>

    <form action="/predict" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".zip" required>
        <button type="submit">Upload .zip</button>
    </form>
    <p>.zip file should contain all variant of .nii</p>
</body>
</html>
